<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czzt1.blog.mapper.LabelMapper">
    <select id="getLabelById" parameterType="int" resultType="com.czzt1.blog.pojo.Label">
        select * from label where label_id=#{0}
    </select>
</mapper>